<div class="container-fluid">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" ui-sref=".decoration">
        门店基本信息
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" role="tab" ui-sref=".info">
        门店装饰
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" role="tab" ui-sref=".set">
        信息设置
      </a>
    </li>
  </ul>
  <div ui-view>

  </div>
</div>